/* VARIABLES */

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --corner: 10rem;
}

/* LAYOUT */

body {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 650px;
}

form {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  gap: 15px;
}

input {
  width: 100%;
  padding: 1em 1.25em;
}

button {
  width: 100%;
  padding: 1em 3em;
}

/* TYPOGRAPHY */
:root {
  font-size: 20px;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  font-size: 2.2rem;
  letter-spacing: 0.05em;
}

small {
  font-size: 0.6rem;
}

input,
button {
  font-family: inherit;
  font-size: 0.8rem;
}

::placeholder {
  font: inherit;
}

button {
  font-weight: 600;
}

/* COLOR */

body {
  color: var(--gray);
}

strong,
p {
  color: var(--very-dark-blue);
}

button {
  background-color: var(--blue);
  color: white;
}

/* DECORATION */

input,
button {
  border-radius: var(--corner);
}

input {
  border: 1px solid var(--gray);
}

button {
  border: none;
}
